.carousel-item{
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-item img {
    max-width: 80%; /* Ajusta el ancho según lo necesites */
    margin: auto;
    display: block;
    margin-left: 32%;
}
